.hero h2 {
  color: #000;
  margin-top: 200px;
}


.hero p {
  margin: 24px 32px 50px 32px; /* top right bottom left */
  font-size: 20px;
  color: #000000;
  text-align: center;
}


body {
  background-color: #f1f3f5; /* Light blue */
}

